.daily-item {
  display: flex;
  align-items: center;

  height: 4rem;

  margin: 0.25rem;
  padding: 0.25rem 1rem;

  border-radius: 0.7rem;

  cursor: pointer;

  font-size: 14px;

  background-color: #f5f5f5;
}

.weather-icon-small {
  width: 40px;
}

.daily-item .day {
  flex: 1 1;

  margin-left: 15px;

  cursor: inherit;

  font-weight: 700;

  color: #212121;
}

.description {
  flex: 1 1;

  text-align: right;

  margin-right: 0.75rem;

  cursor: inherit;
}

.min-max {
  color: #757575;
}

.daily-details-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0;
  row-gap: 0;
  grid-column-gap: 0.75rem;
  -webkit-column-gap: 0.75rem;
  column-gap: 0.75rem;

  flex: 1 1;

  padding: 0.25rem 0.75rem;
}

.daily-details-grid-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 1.8rem;
}

.daily-details-item-label {
  color: #757575;
}

.daily-details-item-value {
  color: #212121;
}
